.c1{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}
.c2{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.c3{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

h1{
    font-family: Candara;
}
h2{
    font-family: Consolas;
}